// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom colors for station palette below:
$dark-green: #001D00;
$bright-green: #18DC1E;
$greyish-green: #8B9888;
$light-grey-green: #ADD79E;
$dark-orange: #D84100;
$bright-yellow: #FFCC00;
$bright-orange: #FF731D;

