<div class="container text-center">
  <h1> Your supplies requirement</h1>
  <div class="container">
    <%= render "orders/shared/orderslist", orders: @orders %>
  </div>
  <h3> <%= link_to "Back to Marketplace", items_path %></h3>
</div>
