<div class="container text-center">
  <h1>Welcome to StationMarketPlace</h1>
  <p>This is a restricted marketplace in space. Please log in to access items.</p>
  <p><%= link_to "Login", new_user_session_path %> | <%= link_to "Sign Up", new_user_registration_path %></p>
  <div>
    <h3>
      <%= link_to "Marketplace", items_path %>
    </h3>
  </div>
</div>
