<div class="container text-center p-0">
  <div class="row p-0 m-0">
    <div class="col-8 fs-1">
      <h1>Welcome to StationMarketPlace</h1>
      <h1>宇宙ステーション マーケット プレイス蝦</h1>
    </div>
    <div class="col-4 bg-primary text-secondary fs-3 text-align-middle">
        Your last stop before Sombrero galaxy!
    </div>
  </div>

  <div class="container-xxl border border-primary my-0 p-5">
    <div class="row g-5">
      <div class="col-12 fs-4">
        <div class="container">
          <div class="container">
            Terminal use is restricted to members only. Please Sign-in or Register bellow.
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="container text-center bg-primary border border-primary">
          <div class="container-fluid bg-secondary">
            <h3 class="lh-lg">
              <%= link_to "Sign-in", new_user_session_path %>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="container text-center bg-primary border border-primary">
          <div class="container-fluid bg-secondary">
            <h3 class="lh-lg">
              <%= link_to "Register", new_user_registration_path %>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="container text-center bg-primary border border-primary">
          <div class="container-fluid bg-secondary">
            <h3 class="lh-lg">
              <%= link_to "Marketplace", items_path %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
