<div class='container text-center bg-primary border border-primary m-3'>
  <div class='container bg-secondary'>
    <h3><%= item.name %></h3>
    <img src="here it goes" alt="nice image">
    <p>Price: <%= number_to_currency(item.price, unit: "R$") %></p>
    <%= link_to "View Details", item_path(item) %>
  </div>
</div>
